p > img {position:absolute;
top:70px;
left:700px;
width: 350px;
height: 300px;}

h1 > img {position:absolute;
top:400px;
left:100px;
width: 350px;
height: 300px;}

h2 > img {position:absolute;
top:400px;
left:500px;
width: 350px;
height: 300px;}

h3 > img {position: absolute;
top: 400px;
left: 900px;
width: 350px;
height: 300px;}

h4 > img  { position: absolute;
top: 400px;
left: 1300px;
width: 350px;
height: 300px;}

#Titulo{
font-family: cursive;
color: #F7F0F2;

}
